.about {
    background-color: var(--light-2);
    /* min-height: 100vh; */
}

.about-content .section-header {
    text-align: left;
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: var(--dark-1);
}

.about-content .title {
    /* color: var(--light-3); */
    text-align: left;
    padding: 0;
    padding-bottom: 1rem;
    margin-bottom: 1.2rem;
}

.about-content .title::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 40px;
    transform: translateX(-50%);
}

.dp {
    width: 100%;
    /* min-width: 300px; */
    /* padding: 1.8rem; */
    flex: 1;
}

.dp img {
    width: 100%;
    border-radius: 50%;
    transition: 0.3s ease;
}

.dp img:hover {
    transition: 0.3s ease;
    transform: scale(1.08);
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 6rem auto; */
}

.about-content {
    width: calc(100% - 500px);
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem 3rem;
    padding: 1rem;
    flex: 1;
}

.about-header .text {
    font-weight: 500;
    font-size: 1.6rem;
}

.about-content .about-text {
    color: var(--dark-1);
    font-size: 1rem;
}

.about-text span {
    color: var(--main-color);
    font-weight: 600;
}

.location {
    display: flex;
}

.location-text {
    color: var(--dark-2);
    font-size: 1.2rem;
}

.location-icon {
    font-size: 28px;
    color: var(--main-color);
    margin-right: 1rem;
}

.about-btn {
    display: inline-block;
    color: var(--light-1);
    background-color: var(--main-color);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    margin-top: 2rem;
    font-weight: 600;
    width: fit-content;
    transition: all 0.3s ease;
}

.about-btn:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
}

@media screen and (max-width: 850px) {
    .about .container {
        padding: 0 1.8rem;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .dp {
        width: 100%;
    }

    .about-content {
        width: 100%;
        min-width: 0;
        align-items: center;
        text-align: center;
        margin: 2rem 0;
    }
    .about-content .section-header {
        text-align: center;
    }

    .about-content .about-text {
        font-size: 1rem;
        text-align: center;
    }

    .about-content .title::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 5px;
        border-radius: 3px;
        background-color: var(--main-color);
        bottom: 0;
        left: 50%;
        /* transform: translateX(-50%); */
    }
}
